<html>
    <head>
    <title> Kevin's portfolio</title>
        <!-- remember to route relative to index.php  -->
        <script type="text/javascript" src="./assets/js/homepage.js"></script>
        <link rel="stylesheet" href="./assets/styles/homepage.css">
    </head>
    <body>
        <h1>Kevin Kairouz</h1>
        <p>homepage!</p>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div id="general">
            <h2>Welcome to My Portfolio</h2>
            <p>Music Producer | Programmer | Professional Deep House Vocalist</p>
        </div>
        <div id="about">
            <h2>About Me</h2>
            <p>I'm Kevin, a passionate music producer and aspiring programmer who practices C++ and Python.</p>
        </div>
        <div id="projects">
            <h2>My Works</h2>
            <p>You can check out my productions & credits by clicking Projects or my Spotify</p>
            
        </div>
        <div id="contact">
            <h2>Contact Kevin</h2>
            <p>You can reach out via email:</p>
            <ul>
                <li><a href="https://open.spotify.com/playlist/6K0xl4ZtOhg6M1emYQq15g?si=ihPIdgyxRf2SkPEdI3QOFA" target="_blank" >Projects</a></li>
                <li><a href="mailto:kevdoesvox@gmail.com">Email</a></li>
                <li><a href="https://www.linkedin.com/in/kevin-kairouz-3a7658263/" target="_blank">LinkedIn</a></li>
                <li><a href="https://open.spotify.com/artist/44NK7lcuXAEc35Z383UnCS?si=1kMZM4tlQBydpEn7zzbPTQ" target="_blank">Spotify</a></li>
                
            </ul>
        </div>
        <footer>
            <p> 2025 Kevin Kairouz. All rights reserved.</p>
        </footer>
    </body>
</html>

